Repository zhangcong2019/edge-ai-suites, changes with the owners that .github/CODEOWNERS names for each.
All owners: @xwu2intel, @ajagadi1, @sugnanprabhu, @rrajore, @sajeevrajput, @vkb1, @sathyendranv, @pooja-intel, @dnoliver, @rajpatel9498, @basakcap, @senhui2intel, @Junyu-B, @wzq112358, @myqi, @vagheshp, @tjanczak, @saratpoluri, @sarthakdeva-intel, @llin60, @Johere, @zhangcong2019, @jouillet, @jb-balaji, @pirouf, @mohitmeh12, @open-edge-platform/open-edge-platform-docs-write

wind-turbine-sample-app: Fixed Broken Links in docs (#276)
  manufacturing-ai-suite/wind-turbine-anomaly-detection/deployment-package/timeseries-wind-turbine-application.yaml
  manufacturing-ai-suite/wind-turbine-anomaly-detection/deployment-package/timeseries-wind-turbine-deployment-package.yaml
  manufacturing-ai-suite/wind-turbine-anomaly-detection/deployment-package/timeseries-wind-turbine-registry.yaml
  manufacturing-ai-suite/wind-turbine-anomaly-detection/deployment-package/timeseries-wind-turbine-values.yaml
  manufacturing-ai-suite/wind-turbine-anomaly-detection/docs/user-guide/get-started.md
  manufacturing-ai-suite/wind-turbine-anomaly-detection/docs/user-guide/how-to-deploy-with-edge-orchestrator.md
  manufacturing-ai-suite/wind-turbine-anomaly-detection/docs/user-guide/how-to-deploy-with-helm.md
  manufacturing-ai-suite/wind-turbine-anomaly-detection/docs/user-guide/index.rst
  manufacturing-ai-suite/wind-turbine-anomaly-detection/docs/user-guide/release_notes/aug-2025.md
Owners: @vkb1, @sathyendranv, @pooja-intel, @open-edge-platform/open-edge-platform-docs-write

[Industrial Edge Insights Vision] Add GPU pipelines and miscellaneous cleanup (#278)
  manufacturing-ai-suite/industrial-edge-insights-vision/.env
  manufacturing-ai-suite/industrial-edge-insights-vision/.env_pallet_defect_detection
  manufacturing-ai-suite/industrial-edge-insights-vision/.env_pcb_anomaly_detection
  manufacturing-ai-suite/industrial-edge-insights-vision/.env_weld_porosity_classification
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/pallet-defect-detection/configs/pipeline-server-config.json
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/pallet-defect-detection/docs/user-guide/how-to-use-gpu-for-inference.md
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/pallet-defect-detection/docs/user-guide/index.rst
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/pallet-defect-detection/payload.json
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/pcb-anomaly-detection/configs/pipeline-server-config.json
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/pcb-anomaly-detection/docs/user-guide/how-to-use-gpu-for-inference.md
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/pcb-anomaly-detection/docs/user-guide/index.rst
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/weld-porosity/configs/pipeline-server-config.json
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/weld-porosity/docs/user-guide/how-to-use-gpu-for-inference.md
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/weld-porosity/docs/user-guide/index.rst
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/worker-safety-gear-detection/configs/pipeline-server-config.json
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/worker-safety-gear-detection/docs/user-guide/how-to-use-gpu-for-inference.md
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/worker-safety-gear-detection/docs/user-guide/index.rst
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/worker-safety-gear-detection/payload.json
  manufacturing-ai-suite/industrial-edge-insights-vision/docker-compose.yml
  manufacturing-ai-suite/industrial-edge-insights-vision/helm/apps/pallet-defect-detection/pipeline-server-config.json
  manufacturing-ai-suite/industrial-edge-insights-vision/helm/apps/pcb-anomaly-detection/pipeline-server-config.json
  manufacturing-ai-suite/industrial-edge-insights-vision/helm/apps/weld-porosity/pipeline-server-config.json
  manufacturing-ai-suite/industrial-edge-insights-vision/helm/apps/worker-safety-gear-detection/pipeline-server-config.json
  manufacturing-ai-suite/industrial-edge-insights-vision/helm/templates/dlstreamer-pipeline-server.yaml
Owners: @ajagadi1, @sugnanprabhu, @rrajore, @sajeevrajput

[Manufacturing AI Suite] DOCS: add links to new apps in README (#280)
  manufacturing-ai-suite/industrial-edge-insights-vision/README.md
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/weld-porosity/docs/user-guide/get-started.md
Owners: @ajagadi1, @sugnanprabhu, @rrajore, @sajeevrajput, @open-edge-platform/open-edge-platform-docs-write

Removed Deployment Packages and Docs for EMF
  metro-ai-suite/loitering-detection/deployment-package/application.yaml
  metro-ai-suite/loitering-detection/deployment-package/deployment-package.yaml
  metro-ai-suite/loitering-detection/deployment-package/ld-values-with-intel-gpu.yaml
  metro-ai-suite/loitering-detection/deployment-package/ld-values.yaml
  metro-ai-suite/loitering-detection/deployment-package/registry.yaml
  metro-ai-suite/loitering-detection/docs/user-guide/how-to-deploy-with-edge-orchestrator.md
  metro-ai-suite/loitering-detection/docs/user-guide/index.rst
  metro-ai-suite/metro-vision-ai-app-recipe/loitering-detection/deployment-package/application.yaml
  metro-ai-suite/metro-vision-ai-app-recipe/loitering-detection/deployment-package/deployment-package.yaml
  metro-ai-suite/metro-vision-ai-app-recipe/loitering-detection/deployment-package/ld-values-with-intel-gpu.yaml
  metro-ai-suite/metro-vision-ai-app-recipe/loitering-detection/deployment-package/ld-values.yaml
  metro-ai-suite/metro-vision-ai-app-recipe/loitering-detection/deployment-package/registry.yaml
  metro-ai-suite/metro-vision-ai-app-recipe/loitering-detection/docs/user-guide/how-to-deploy-with-edge-orchestrator.md
  metro-ai-suite/metro-vision-ai-app-recipe/loitering-detection/docs/user-guide/index.rst
  metro-ai-suite/metro-vision-ai-app-recipe/smart-parking/deployment-package/application.yaml
  metro-ai-suite/metro-vision-ai-app-recipe/smart-parking/deployment-package/deployment-package.yaml
  metro-ai-suite/metro-vision-ai-app-recipe/smart-parking/deployment-package/registry.yaml
  metro-ai-suite/metro-vision-ai-app-recipe/smart-parking/deployment-package/sp-values-with-intel-gpu.yaml
  metro-ai-suite/metro-vision-ai-app-recipe/smart-parking/deployment-package/sp-values.yaml
  metro-ai-suite/metro-vision-ai-app-recipe/smart-parking/docs/user-guide/how-to-deploy-with-edge-orchestrator.md
  metro-ai-suite/metro-vision-ai-app-recipe/smart-parking/docs/user-guide/index.rst
  metro-ai-suite/smart-parking/deployment-package/application.yaml
  metro-ai-suite/smart-parking/deployment-package/deployment-package.yaml
  metro-ai-suite/smart-parking/deployment-package/registry.yaml
  metro-ai-suite/smart-parking/deployment-package/sp-values-with-intel-gpu.yaml
  metro-ai-suite/smart-parking/deployment-package/sp-values.yaml
  metro-ai-suite/smart-parking/docs/user-guide/how-to-deploy-with-edge-orchestrator.md
  metro-ai-suite/smart-parking/docs/user-guide/index.rst
Owners: @vagheshp, @tjanczak, @xwu2intel, @open-edge-platform/open-edge-platform-docs-write

Update publish-docs.yml
  .github/workflows/publish-docs.yml
Owners: none

wind-turbine-sample-app: Removed pull command to support local build (#279)
  manufacturing-ai-suite/wind-turbine-anomaly-detection/Makefile
Owners: @vkb1, @sathyendranv, @pooja-intel

manufacturing-ai-suite: Update README documentation (#283)
  manufacturing-ai-suite/README.md
Owners: @xwu2intel

[Edge AI Suites] Renaming github workflow for pcb anomaly and worker safety gear detec… (#282)
  .github/workflows/publish-docs.yml
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/pallet-defect-detection/docs/user-guide/index.rst
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/pcb-anomaly-detection/docs/user-guide/index.rst
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/weld-porosity/docs/user-guide/index.rst
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/worker-safety-gear-detection/docs/user-guide/index.rst
Owners: @ajagadi1, @sugnanprabhu, @rrajore, @sajeevrajput

add get started guide
  metro-ai-suite/video-processing-for-nvr/docs/user-guide/_images/svet-16dec_4kdisp.png
  metro-ai-suite/video-processing-for-nvr/docs/user-guide/_images/svet-Architecture.png
  metro-ai-suite/video-processing-for-nvr/docs/user-guide/_images/svet-Multi-channel.png
  metro-ai-suite/video-processing-for-nvr/docs/user-guide/get-started-guide.md
Owners: @zhangcong2019, @llin60, @Johere

top level readme
  README.md
Owners: @xwu2intel

minor change
  metro-ai-suite/video-processing-for-nvr/docs/user-guide/get-started-guide.md
Owners: @zhangcong2019, @llin60, @Johere

minor change
  README.md
Owners: @xwu2intel

wind-turbine-anomaly-detection: Fixed few issues in docs (#287)
  manufacturing-ai-suite/wind-turbine-anomaly-detection/docs/user-guide/get-started.md
Owners: @vkb1, @sathyendranv, @pooja-intel, @open-edge-platform/open-edge-platform-docs-write

wind-turbine-anomaly-detection: Updated error message (#285)
  manufacturing-ai-suite/wind-turbine-anomaly-detection/Makefile
  manufacturing-ai-suite/wind-turbine-anomaly-detection/helm/values.schema.json
Owners: @vkb1, @sathyendranv, @pooja-intel

Updated the installtion script to use DLStreamer Pipeline Server
  metro-ai-suite/metro-vision-ai-app-recipe/loitering-detection/install.sh
  metro-ai-suite/metro-vision-ai-app-recipe/smart-parking/install.sh
Owners: none

minor change
  README.md
  metro-ai-suite/README.md
Owners: @xwu2intel

remove empty line
  README.md
Owners: @xwu2intel

[Manufacturing AI Suite] docs: remove all references to EMF in documentation (#286)
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/pallet-defect-detection/docs/user-guide/how-to-deploy-with-edge-orchestrator.md
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/pcb-anomaly-detection/docs/user-guide/how-to-deploy-with-edge-orchestrator.md
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/weld-porosity/docs/user-guide/how-to-deploy-with-edge-orchestrator.md
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/worker-safety-gear-detection/docs/user-guide/how-to-deploy-with-edge-orchestrator.md
Owners: @ajagadi1, @sugnanprabhu, @rrajore, @sajeevrajput

[Manufactuing AI Suites] Docs: Fix sphinx build document issues for all iei apps (#284)
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/pallet-defect-detection/docs/dictionary_append.txt
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/pallet-defect-detection/docs/linkcheck_ignore_append.txt
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/pallet-defect-detection/docs/toc.rst
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/pallet-defect-detection/docs/user-guide/index.rst
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/pcb-anomaly-detection/docs/dictionary_append.txt
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/pcb-anomaly-detection/docs/linkcheck_ignore_append.txt
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/pcb-anomaly-detection/docs/toc.rst
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/pcb-anomaly-detection/docs/user-guide/how-to-scale-video-resolution.md
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/pcb-anomaly-detection/docs/user-guide/index.rst
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/pcb-anomaly-detection/docs/user-guide/release_notes/Overview.md
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/weld-porosity/docs/dictionary_append.txt
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/weld-porosity/docs/linkcheck_ignore_append.txt
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/weld-porosity/docs/toc.rst
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/weld-porosity/docs/user-guide/index.rst
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/worker-safety-gear-detection/docs/dictionary_append.txt
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/worker-safety-gear-detection/docs/linkcheck_ignore_append.txt
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/worker-safety-gear-detection/docs/toc.rst
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/worker-safety-gear-detection/docs/user-guide/how-to-scale-video-resolution.md
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/worker-safety-gear-detection/docs/user-guide/index.rst
  manufacturing-ai-suite/industrial-edge-insights-vision/apps/worker-safety-gear-detection/docs/user-guide/release_notes/Overview.md
Owners: @ajagadi1, @sugnanprabhu, @rrajore, @sajeevrajput

wind-turbine-sample-app: Updated how-to-deploy-with-helm.md section for Wind Turbine Anamoly (#289)
  manufacturing-ai-suite/wind-turbine-anomaly-detection/docs/user-guide/how-to-deploy-with-helm.md
Owners: @vkb1, @sathyendranv, @pooja-intel, @open-edge-platform/open-edge-platform-docs-write

.github/CODEOWNERS:

LICENSE            @xwu2intel
CONTRIBUTING.md    @xwu2intel
CODE_OF_CONDUCT.md @xwu2intel
SECURITY.md        @xwu2intel
README.md          @xwu2intel

# manufacturing-ai
/manufacturing-ai-suite/pallet-defect-detection/          @ajagadi1 @sugnanprabhu @rrajore
/manufacturing-ai-suite/weld-porosity/                    @ajagadi1 @sugnanprabhu @rrajore
/manufacturing-ai-suite/industrial-edge-insights-vision/  @ajagadi1 @sugnanprabhu @rrajore @sajeevrajput
/manufacturing-ai-suite/wind-turbine-anomaly-detection/   @vkb1 @sathyendranv @pooja-intel

# metro-ai
/metro-ai-suite/image-based-video-search/                 @dnoliver @rajpatel9498 @basakcap
/metro-ai-suite/interactive-digital-avatar/               @senhui2intel @Junyu-B @wzq112358 @myqi
/metro-ai-suite/smart-parking/                            @vagheshp @tjanczak @xwu2intel
/metro-ai-suite/smart-intersection/                       @saratpoluri @sarthakdeva-intel
/metro-ai-suite/loitering-detection/                      @vagheshp @tjanczak @xwu2intel
/metro-ai-suite/visual-search-question-and-answering/     @llin60 @Johere @zhangcong2019
/metro-ai-suite/video-processing-for-nvr/                 @zhangcong2019 @llin60 @Johere

# robotics-ai
/robotics-ai-suite/        @jouillet @jb-balaji @pirouf @mohitmeh12


# documentation content - manufacturing-ai
#/manufacturing-ai-suite/hmi-augmented-worker/docs/ - needs to be defined
#/manufacturing-ai-suite/hmi-augmented-worker/README.md - needs to be defined
/manufacturing-ai-suite/industrial-edge-insights-vision/docs/         @ajagadi1 @sugnanprabhu @rrajore @sajeevrajput   @open-edge-platform/open-edge-platform-docs-write
/manufacturing-ai-suite/industrial-edge-insights-vision/README.md     @ajagadi1 @sugnanprabhu @rrajore @sajeevrajput   @open-edge-platform/open-edge-platform-docs-write
/manufacturing-ai-suite/wind-turbine-anomaly-detection/docs/          @vkb1 @sathyendranv @pooja-intel                 @open-edge-platform/open-edge-platform-docs-write
/manufacturing-ai-suite/wind-turbine-anomaly-detection/README.md      @vkb1 @sathyendranv @pooja-intel                 @open-edge-platform/open-edge-platform-docs-write

# documentation content - media-and-entertainment-ai
# /media-and-entertainment-ai-suite - needs to be defined once content appears

# documentation content - metro-ai
# /metro-ai-suite/holographic-sensor-fusion/docs/               needs to be defined
# /metro-ai-suite/holographic-sensor-fusion/README.md           needs to be defined
/metro-ai-suite/image-based-video-search/docs/                  @dnoliver @rajpatel9498 @basakcap       @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/image-based-video-search/README.md              @dnoliver @rajpatel9498 @basakcap       @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/interactive-digital-avatar/docs/                @senhui2intel @Junyu-B @wzq112358 @myqi @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/interactive-digital-avatar/README.md            @senhui2intel @Junyu-B @wzq112358 @myqi @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/loitering-detection/docs/                       @vagheshp @tjanczak @xwu2intel          @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/loitering-detection/README.md                   @vagheshp @tjanczak @xwu2intel          @open-edge-platform/open-edge-platform-docs-write
# /metro-ai-suite/metro-vision-ai-app-recipe/docs/              needs to be defined
# /metro-ai-suite/metro-vision-ai-app-recipe/README.md          needs to be defined
/metro-ai-suite/smart-intersection/docs/                        @saratpoluri @sarthakdeva-intel         @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/smart-intersection/README.md                    @saratpoluri @sarthakdeva-intel         @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/smart-parking/docs/                             @vagheshp @tjanczak @xwu2intel          @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/smart-parking/README.md                         @vagheshp @tjanczak @xwu2intel          @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/visual-search-question-and-answering/docs/      @llin60 @Johere @zhangcong2019          @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/visual-search-question-and-answering/README.md  @llin60 @Johere @zhangcong2019          @open-edge-platform/open-edge-platform-docs-write

# documentation content - robotics-ai
/robotics-ai-suite/docs/                                       @jouillet @jb-balaji @pirouf @mohitmeh12 @open-edge-platform/open-edge-platform-docs-write
/robotics-ai-suite/README.md                                   @jouillet @jb-balaji @pirouf @mohitmeh12 @open-edge-platform/open-edge-platform-docs-write

# documentation content - retail-ai
# /retail-ai-suite/  - needs to be defined once content appears
